title = "Blog Detalle"
url = "/blog/:url"
layout = "Layout"
is_hidden = 0
==
<?php
use AndresLora\AliceBlog\Models\Post;

function onStart()
{
    $this['post'] = Post::where("url",$this->param("url"))->first();
    $this['url'] = Request::url();
}
?>
==
{% set months = ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"] %}
<!-- WRAPPER -->
<div class="wrapper">

<!-- HOME -->
<section class="module module-header " data-background="{{post.featured_image_big.getPath}}">

	<div class="container">
		<!-- MODULE TITLE -->
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
			</div>
		</div>
		<!-- /MODULE TITLE -->

	</div>
</section >
<!-- /HOME -->

<!-- BLOG SINGLE -->
<section class="module">

	<div class="container">

		<div class="row">

			<div class="col-sm-8 col-sm-offset-2">

				<!-- POST -->
				<div class="post">
                    <h1 class="module-title font-alt align-center" style="color: black">{{post.title}}</h1>
					<div class="module-subtitle font-inc align-center">
                    <div class="post-meta font-inc">
                        Compartir 
                        <a style="font-size: 25px; margin: 5px" href="javascript:;" data-url="{{url}}" data-image="{{post.featured_image_big.getPath}}" data-title="{{post.title}}" data-desc="{{post.description_meta}}"><i class="fa fa-facebook-square btnShare" aria-hidden="true"></i></a> 
                        <a style="font-size: 25px;  margin: 5px" target="_blank" href="http://twitter.com/share?text={{post.title}}&url={{url}}"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                        {% for category in post.categories %}{{category.name}}{% if loop.index <= loop.length - 1 %}, {% endif %}{% endfor %}  | {{ post.created_at|date('d') }} {{ months[post.created_at|date('n')-1] }} {{ post.created_at|date('Y') }} | Web Design
                    </div>
					</div>
					<div class="parrafo" style="font-size: 18px">
						{{post.description|raw}}
					</div>
                 <div class="post-meta font-inc">
    Compartir <a style="font-size: 25px; margin: 5px" href="javascript:;" data-url="{{url}}" data-image="{{post.featured_image_big.getPath}}" data-title="{{post.title}}" data-desc="{{post.description_meta}}"><i class="fa fa-facebook-square btnShare" aria-hidden="true"></i></a> 
    <a style="font-size: 25px;  margin: 5px" target="_blank" href="http://twitter.com/share?text={{post.title}}&url={{url}}"><i class="fa fa-twitter-square" aria-hidden="true"></i></a> 
</div>
				</div>
				<!-- /POST -->

			</div>

		</div>

	</div>
	
	<div id="comentarios-facebook">
		<div class="container">
			<div class="bg">
				<div class="col-xs-12 col-md-12 col-md-offset-1 fb-comments" data-href="{{ this.page.id | page }}" data-numposts="10">
				</div>
			</div>
		</div>
	</div>

</section>
<!-- /BLOG SINGLE -->

<!-- DIVIDER -->
<hr class="divider-w">
<!-- /DIVIDER -->